
@font-face {
  font-family: 'Open Sans';
  font-style: normal;
  font-weight: 400;
  src: 
  url('../fonts/open-sans-v28-latin-regular.woff2') format('woff2'),
  url('../fonts/open-sans-v28-latin-regular.woff') format('woff'); 
}

@font-face {
  font-family: 'Open Sans';
  font-style: normal;
  font-weight: 700;
  src: 
  url('../fonts/open-sans-v28-latin-700.woff2') format('woff2'),
  url('../fonts/open-sans-v28-latin-700.woff') format('woff'); 
}

*{
  box-sizing: border-box;
  scroll-behavior: smooth;
}

body{
  font-family: 'Open Sans';
  margin-top: 20px;
  margin-bottom: 20px;
}

img{
  vertical-align: middle;
  object-fit: contain;
}

.container{
  width: 1140px;
  margin:0 auto;
  padding-right: 20px;
  padding-left: 20px;
}

.visually-hidden {
  position: absolute;
  width: 1px;
  height: 1px;
  margin: -1px;
  padding: 0;
  overflow: hidden;
  border: 0;
  clip: rect(0 0 0 0)
}


/* header */

.main-header{
  position:fixed;
  top: 0;
  left: 0;
  z-index: 100;
  width: 100%;
}

.header {
  display: flex;
  align-items: center;
  background-color: #fff;
  box-shadow: 0px 4px 20px rgba(0, 0, 0, 0.1);
  margin-bottom: 80px;
}

.under-container{
  padding: 7px;
  display: flex;
  align-items: center;
}

.logo-link{
  margin-right: auto;
  text-decoration: none;
}

.header-list{
  display: flex;
  list-style: none;
  margin: 0px;
  padding: 0px;
  margin-right: 24px;
}

.header-list-item:nth-child(6){
  margin: 0px;
}


.header-list-item{
  margin: 0px;
  padding: 0px;
}

.header-list-item:nth-child(2){
  position: relative;
}

.header-list-item:nth-child(2):hover .xizmat-list{
  display: block;
}

.header-list-item-link{
  text-decoration: none;
  font-style: normal;
  font-weight: 400;
  font-size: 15px;
  line-height: 24px;
  color: #000000;
  padding: 15px;
}

.header-list-item-link:hover{
  border-bottom: 1px solid black;
}

.header-list-item-link:active{
  color: #fff;
  border: none;
  background-color: #5C5C5C;
}

.xizmat-list{
  display: none;
  position: absolute;
  top: 150%;
  width: 150px;
  margin: 0px;
  padding: 0 ;
  list-style: none;
  background: #FFFFFF;
  box-shadow: 0px 4px 24px #0000001a;
  border-radius: 5px;
}

.xizmat-link{
  width: 100%;
  display: inline-block;
  font-weight: 400;
  font-size: 16px;
  line-height: 24px;
  color: #000;
  text-decoration: none;
  padding:8px 16px;
}

.xizmat-link:hover{
  background-color: #00BAFC;
  color: #fff;
}

.xizmat-item:nth-child(5):hover .crm-list{
  display: block;
}

.crm-list{
  display: none;
  position: absolute;
  top: 85%;
  left: 100%;
  width: 200px;
  margin: 0;
  padding: 0 ;
  list-style: none;
  background: #FFFFFF;
  box-shadow: 0px 4px 24px #0000001a;
  border-radius: 5px;
}

.crm-link{
  width: 100%;
  display: inline-block;
  font-weight: 400;
  font-size: 16px;
  line-height: 24px;
  color: #222;
  text-decoration: none;
  padding:8px 16px;
}

.crm-link:hover{
  background-color: #713467;
  color: #fff;
}

.crm-item:nth-child(5){
  position: relative;
}

.header-tel-link{
  text-decoration: none;
  color: #fff;
  background-color: #00BAFC;
  border-radius: 5px;
  padding: 8px 16px;
}

.header-tel-link:hover{
  background: #FFFFFF;
  box-shadow: 0 0 0 3px #00BAFC;
  border-radius: 5px;
  color: #00BAFC;
}

.header-tel-link:active{
  opacity: 0,8;
}

/* main */

.hero{
  padding-top: 100px;
}


.main-hero{
  display: flex;
  align-items: center;
  margin-bottom: 136px;
}

.hero-left{
  width: 470px;
  margin-right: 172px;
}

.hero-title{
  margin: 0px;
  padding: 0px;
  font-weight: 700;
  font-size: 30px;
  line-height: 130%;
  margin-bottom: 16px;
}

.hero-text{
  margin: 0px;
  padding: 0px;
  font-weight: 400;
  font-size: 16px;
  line-height: 24px;
  margin-bottom: 24px;
}

.hero-link{
  text-decoration: none;
  font-weight: 700;
  font-size: 16px;
  line-height: 24px;
  color: #FFFFFF;
  background-color: #00BAFC;
  border-radius: 5px;
  padding: 8px 16px;
}

.hero-link:hover{
  background-color: #33C8FD;
}

.hero-link:active{
  background-color: #66D6FD;
}

.hero-iframe{
  border-radius: 8px;
}

.site-service{
  margin-bottom: 112px;
}

.service-title{
  margin: 0px;
  padding: 0px;
  font-weight: 700;
  font-size: 24px;
  line-height: 130%;
  text-align: center;
  margin-bottom: 16px;
}

.service-text-box{
  width: 719px;
  margin: 0 auto;
  text-align: center;
}

.service-text{
  margin: 0px;
  padding: 0px;
  font-weight: 400;
  font-size: 16px;
  line-height: 24px;
  margin-bottom: 24px;
}

.service-list{
  margin: 0px;
  padding: 0px;
  display: flex;
  flex-wrap:wrap;
  justify-content: center;
  list-style: none;
}

.service-list-item{
  margin: 0px;
  padding: 0px;
  width: 320px;
  padding: 24px 60px;
  box-shadow: 0px 8px 8px rgba(0, 0, 0, 0.1);
  border-radius: 5px;
  margin-right: 70px;
  margin-bottom: 48px;
}

.service-list-item:hover {
  box-shadow: 0px 12px 21px rgba(0, 0, 0, 0.1);
}

.service-list-item:active{
  box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.2);
}

.service-list-item:nth-child(3 ){
  margin-right: 0px;
}

.service-list-item:nth-child(2n+2 ){
  margin-bottom: 40px;
}

.service-list-item-link{
  text-decoration: none;
  text-align: center;
}

.service-list-item-link-logo{
  margin-bottom: 16px;
}

.service-list-item-link-title{
  margin: 0px;
  padding: 0px;
  margin-bottom: 16px;
  font-weight: 700;
  font-size: 20px;
  line-height: 130%;
  color: #000000;
}

.service-list-item-link-text{
  margin: 0px;
  padding: 0px;
  font-weight: 400;
  font-size: 16px;
  line-height: 24px;
  color: #000000;
}

.service-bottom-links{
  text-align: center;
}

.left-link{
  text-decoration: none;
  color: #fff;
  background-color: #00BAFC;
  border-radius: 5px;
  font-weight: 700;
  font-size: 16px;
  line-height: 24px;
  padding: 8px 16px;
  margin-right: 16px;
  vertical-align: middle;
}

.left-link:hover{
  background-color:#33C8FD ;
}

.left-link:active{
  background-color:#66D6FD ;
}

.right-link{
  vertical-align: middle;
  font-weight: 400;
  font-size: 16px;
  line-height: 24px;
}

.how-work{
  margin-bottom: 55px;
}

.work-title-and-text{
  margin: 0 auto;
  width: 719px;
  text-align: center;
  margin-bottom: 24px;
}

.work-title{
  margin: 0px;
  padding: 0px;
  font-weight: 700;
  font-size: 24px;
  line-height: 130%;
  margin-bottom: 16px;
}

.work-text{
  margin: 0px;
  padding: 0px;
  font-weight: 400;
  font-size: 16px;
  line-height: 24px;
}

.work-list{
  margin: 0px;
  padding: 0px;
  list-style: none;
}

.work-list-item{
  display: flex;
  align-items: center;
  justify-content: center;
  margin: 0px;
  padding: 0px;
  margin-bottom: 55px;
}

.work-list-item:nth-child(even){
  display: flex;
  flex-direction: row-reverse;
}

.work-list-item-img{
  margin-right: 35px;
}

.work-list-info-cover{
  width: 493px;
}

.work-list-item-title{
  margin: 0px;
  padding: 0px;
  font-weight: 700;
  font-size: 20px;
  line-height: 130%;
  margin-bottom: 8px;
}

.work-list-item-text{
  margin: 0px;
  padding: 0px;
  font-weight: 400;
  font-size: 16px;
  line-height: 24px;
}

.order{
  background-color:  #00BAFC;
  padding-top: 56px;
  padding-bottom: 64px;
}

.order-info{
  width: 719px;
  margin: 0 auto;
  margin-bottom: 24px;
}

.order-title{
  margin: 0px;
  padding: 0px;
  font-weight: 700;
  font-size: 24px;
  line-height: 130%;
  text-align: center;
  color: #FFFFFF;
}

.order-text{
  margin: 0px;
  padding: 0px;
  font-weight: 400;
  font-size: 16px;
  line-height: 150%;
  text-align: center;
  color: #FFFFFF;
}

.order-form{
  padding: 24px;
  background-color: #fff;
  width: 348px;
  border-radius: 5px;
  margin: 0 auto;
  text-align: center;
}

.order-input{
  border: none;
  background-color: #F3F3F3;
  border-radius: 5px;
  padding: 16px;
  margin-bottom: 16px;
  width: 300px;
}

.service-type{
  border: none;
  background-color: #F3F3F3;
  border-radius: 5px;
  padding: 16px;
  margin-bottom: 16px;
  width: 300px;
  appearance: none;
}

.order-input::placeholder{
  font-weight: 400;
  font-size: 16px;
  line-height: 150%;
  color: #000000;
}

.service-type{
  background-image: url("../img/Polygon.svg");
  background-position: top 50% right 20px ;
  background-repeat: no-repeat;
  font-weight: 400;
  font-size: 16px;
  line-height: 150%;
  color: #000000;
}

.submit{
  background-color: #00BAFC;
  border-radius: 5px;
  font-weight: 700;
  font-size: 16px;
  line-height: 24px;
  color: #FFFFFF;
  border: none;
  padding: 8px 16px;
}

.submit:hover{
  background-color:#33C8FD ;
}

.submit:active{
  background-color: #66D6FD;
}

/* footer */

.footer-section{
  display: flex;
  justify-content: center;
  background-color: #111;
  padding-top: 56px;
  padding-bottom: 56px;
}

.footer-left{
  width: 320px;
  margin-right: 100px;
}

.footer-title{
  color: #fff;
  font-weight: 700;
  font-size: 20px;
  line-height: 130%;
  text-align: left;
}

.footer-text{
  font-weight: 400;
  font-size: 16px;
  line-height: 150%;
  color: #fff;
  margin: 0px;
  padding: 0px;
  margin-top: 16px;
}

.footer-left-list{
  list-style: none;
  margin: 0px;
  padding: 0px;
  margin-right: 87px;
}

.footer-left-list-item{
  margin: 0px;
  padding: 0px;
}

.footer-left-list-title{
  margin: 0px;
  padding: 0px;
  font-weight: 700;
  font-size: 20px;
  line-height: 130%;
  color: #FFFFFF;
  margin-bottom: 16px;
}

.footer-left-list-text{
  margin: 0px;
  padding: 0px;
  margin-bottom: 8px;
}

.footer-left-list-text-link:hover{
  color: #00BAFC;
}

.footer-left-list-text-link:active{
  color: #00BAFC;
  opacity: 0.6;
}

.footer-left-list-text-link{
  text-decoration: none;
  font-weight: 400;
  font-size: 16px;
  line-height: 24px;
  color: #FFFFFF;
}

.app-logo{
  margin-right: 8px;
}

.arrow{
  position: fixed;
  bottom: 30px;
  right:calc(50% - 550px) ;
}
